<div class="items-center space-x-4 py-2 px-2 h-32 w-64">
  <div class="grid grid-cols-5">
    <img class="w-8 h-8 rounded-full col-span-2" src="{{data.tagsHidden.includes('momo') ? 'https://firebasestorage.googleapis.com/v0/b/x-experience.appspot.com/o/images%2Ficone-1.png?alt=media&token=d75dd0a8-2af0-4150-b4f2-fbe003c43815' : 'https://firebasestorage.googleapis.com/v0/b/x-experience.appspot.com/o/images%2Flogo%20mtn.png?alt=media&token=3c255d5c-b8f0-4b17-922c-5ff265c3e484'}}" alt="Logo">
    <h3 class="col-span-3">{{data.tagsHidden.includes('momo') ? 'MoMo Service Point' : 'PHARMACY DUTY'}}</h3>
  </div>
  <div>
    <h3 class="text-sm font-medium text-gray-900 truncate dark:text-white">
      {{data.name}}
    </h3>
    <span class="text-sm font-medium text-blue-900 py-3 truncate dark:text-white">
      {{data.subtitle}}
    </span>
    <div class="text-sm py-1 truncate dark:text-white">
      <span class="text-green-700">Open</span> - Close at 18H
    </div>
    <div class="text-xs font-light text-gray-700 dark:text-white">
      <ul role="list">
        <li class="py-1 sm:py-4" *ngFor="let contact of data.content.contacts">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <a href="tel:{{contact}}" class="bg-blue-900 rounded-full p-1 inline-flex items-center text-base font-semibold text-white dark:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-2 h-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                </svg>
              </a>
              <a href="tel:{{contact}}" class="inline-flex ml-1 text-sm text-black truncate dark:text-white">
                {{contact}}
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="text-xs font-light text-gray-700 dark:text-white">
      AVAILABLE PHARMACY
      <h5 *ngFor="let service of data.content.serviceAvailable">{{service}}</h5>
    </div>
   <a href="preview-partner/' + content.id + '" class="block text-sm mt-3 text-blue-900 uppercase truncate dark:text-gray-400">\n' +
     Show more informations
    </a>
  </div>
</div>
