ion-popover {
  --width: 95%;
}

ion-list-header {
  margin-top: -10px;
  margin-bottom: -10px;
}

ion-button {
  --box-shadow:none;
}
.country_btn:hover
{
  background-color: #51b94c;
  color: #51b94c;
}
